@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);

*{margin: 0px; padding: 0px}

body{
  background:#2c3e50;
  font-family: 'Open Sans', sans-serif;
}

h1, button{
  color:#fff;
  text-align: center;
  padding: 20px;
}

a{
   text-decoration:none;
   color:#fff;
}

a:hover{
   color:#be1c27;
}

.main{
  width: 100%;
}

.sub-main{
  width: 80%;
  margin:22px;
  float: left;
}

.button-one {
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
}

.button-one {
  padding:20px 60px;
  outline: none;
  background-color: #dc2430;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

.button-one:hover{
  background-color: #be1c27;
}

.button-one:active {
  background-color: #be1c27;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}

.contact { color: #FFF; }
.navbar-brand { display: flex; align-items: center; font-size: 24px; height: 70px; }
.navbar-icon { width: 30px; height: 30px; display: inline-block; margin-right: 10px; }
